@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
	box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #111111;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    touch-action: manipulation;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ff7700;
    max-height: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    min-height: 80vh;
    gap: 20px;
    padding: 30px;
}

#game-components-div {
    border: 1px solid #444444;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    margin-top: 10px;
    font-weight: 400;
}

ol {
    margin-top: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    list-style-type: none;
}

footer {
    background-color: #444444;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    width: 100%;
    padding: 5px;
}

.nav-item {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border: 1px solid #ff7700;
    border-radius: 2rem;
    font-weight: 400;
}

.nav-item:hover {
    color: white;
    border: 1px solid white;
}

.nav-item:current {
    background-color: white;
    color: #111111;
}

.nav-item-this {
    text-decoration: none;
    background-color: white;
    color: #ff7700;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 2rem;
    font-weight: 400;
}

.logo {
    max-height: 100px;
}

.logo-title-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

#instructions-div {
    width: 100%;
    max-width: 800px;
    padding: 15px 30px;
    border: 1px solid #444444;
    border-radius: 1rem;
}

#game-components-div {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton {
    background-color: #111111;
    color: #ff7700;
    font-size: 1rem;
    padding: 20px 30px;
    border: 1px solid #ff7700;
    border-radius: 2rem;
    display: inline;
    margin: 40px;
}

#startButton:hover {
    background-color: #ff770020;
}

#startButton:active {
    background-color: #444444;
}


.tap-button {
    background-color: #ff7700;
    color: rgba(255, 255, 255, 0.4);
    display: none;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 3rem;
}

.tap-button:active {
    background-color: #ff973b;
}

#restartButton {
    background-color: #111111;
    color: #ff7700;
    font-size: 1rem;
    padding: 10px 25px;
    border: 1px solid #ff7700;
    border-radius: 2rem;
    display: none;
}

#restartButton:hover {
    background-color: #ff770020;
}

#restartButton:active {
    background-color: #444444;
}

#yourScore, #hitsPerSecond, #record {

    display: none;
}

#numberThisRoundScore {
    color: #ff7700;
    font-size: 4rem;
    margin: 10px;
}

#timer {

    display: none;
}

#record {
    color: #888888;
    margin-top: 30px;
}

/* CSS for about page */

#aboutNavBar {
    display: flex;
}

.aboutNavItem {
    text-decoration: none;
    color: #ff7700;
    padding: 5px 15px;
    border: 1px solid #ff7700;
    border-radius: 2rem;
    font-weight: 400;
}

.aboutNavItem-current {
    background-color: white;
    border: 1px solid white;
    color: #111111;
    padding: 5px 15px;
    border-radius: 2rem;
    font-weight: 400;
}

.aboutNavItem:hover {
    color: white;
    border: 1px solid white;
}

.aboutContentDiv {
    max-width: 800px;
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 1rem;
    display: flex;
    gap: 20px;
}

figure {
    margin: 0;
}

.aboutIMG {
    max-width: 300px;
    margin: 0;
}

.figH2 {
    color: #ff7700;
}


/* CSS for attributions page */

.mainGrid {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
}

a {
    color: #ff7700;
}

.attrItem {
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 1rem;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.attrIMG {
    width: 100%;
    margin: 0;
}



@media screen and (max-width: 768px) {

    nav {
        max-height: 70px;
    }

    .logo {
        max-height: 70px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .nav-item {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .nav-item-this {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

  .aboutContentDiv {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #game-components-div {
        min-height: 40vh;
    }

    .aboutIMG {
        max-width: 100%;
    }

    #aboutNavBar {
        flex-direction: column;
        gap: 10px;
    }

    .mainGrid {
        display: inline;

    }

    .attrItem {
        margin: auto;
        width: 90%;
        margin-bottom: 20px;
    }
}