main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startButton {

    display: inline;
}


.tap-button {
    background-color: orange;
    color: black;
    display: none;
}

#restartButton {
    
    display: none;
}

#yourScore, #hitsPerSecond, #record {

    display: none;
}

#timer {

    display: none;
}